@import "tailwindcss";

:root {
	--red: firebrick;
	--yellow: goldenrod;
	--green: green;
	--blue: steelblue;
	--black: #333;

	color: var(--black);
}

@layer utilities {
	.h-screen {
		height: 100vh;
		height: -webkit-fill-available;
	}
}

@layer components {
	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
